<%= @comment.commenter.username %><br>
@<%= @comment.commenter.handle %><br>
<p><%= @comment.content %></p>
<%= post_updated_at_formatted_full(@comment.updated_at) %><br>
--------------------------------------------------------------------
<br>

<% @comment.comments.each do |comment| %>
    <%= link_to profile_path(comment.commenter.handle) do %>
        <%= comment.commenter.username %>
        @<%= comment.commenter.handle %>
        - <%= date_formatted(comment.updated_at) %><br>
    <% end %>
    <%= link_to comment_path(comment.id) do %>
        <%= comment.content %><br>
    <% end %>
<% end %>

