<h1>Search results</h1>
<% @user_results.each do |r| %>
  <p><%= r.username %></p>
<% end %>
<% # should make a tweet partial %>
<% @tweet_results.each do |t| %>
  <div><span><%= t.user.username %>  @<%= t.user.handle %> - <%= tweet_updated_at_formatted_brief(t.updated_at) %></span></div>
  <p><%= t.content %></p>
  ----
  <%#comment, retweet, like%>
<% end %>
