<% if current_user %>
  Logged in as <%= current_user.username %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>

<% if current_user %>
    <%= form_for @tweet do |f| %>
        <%= f.text_field :content %><br>
        <%= f.submit 'Tweet' %>
    <% end %>
    <% current_user.tweets.each do |tweet| %>
        <div><span><%= tweet.tweeter.username %>  @<%= tweet.tweeter.handle %> - <%= tweet.formatted_updated_at %></span></div>
        <p><%= tweet.content %></p>
        <%#comment, retweet, like%>
    <% end %>
<% end %>
