<div>
  <%= react_component("tweets/Tweet", {tweet: tweet, tweeter: tweet.tweeter, updatedAt: tweet_updated_at_formatted_brief(tweet.updated_at), parentHandle: ""}) %>
  <%= react_component("tweets/TweetOptions", {tweetId: tweet.id, commentCount: tweet.children.count, retweetCount: tweet.retweets.count}) %>
  <ul class='tweet-options'>
      <li><%= link_to "c", new_tweet_path(parent_id: tweet.id) %><%= tweet.children.count %></li>
      <li><%= link_to "r", retweets_path(tweet_id: tweet.id), method: :post %><%= tweet.retweets.count %></li>
      <li><%= link_to "rc", new_retweet_path(tweet_id: tweet.id) %></li>
      <li><%= link_to "l", likes_path(tweet_id: tweet.id), method: :post %><%= tweet.likes.count %></li>
      <li>u</li>
  </ul>
</div>