<%= link_to profile_path(tweet.tweeter.handle) do %>
    <br><%= tweet.tweeter.username %>
    @<%= tweet.tweeter.handle %>
<% end %>
- <%= tweet_updated_at_formatted_brief(tweet.updated_at) %><br>

<%= react_component 'tweet/Tweet', tweetId: tweet.id, tweetContent: tweet.content, tweeterHandle: tweet.tweeter.handle, updatedAt: tweet_updated_at_formatted_full(tweet.updated_at), retweetCount: tweet.retweets.count, likesCount: tweet.likes.count %>

<ul class='tweet-options'>
    <li><%= link_to "c", new_tweet_path(parent_id: tweet.id) %></li>
    <li><%= link_to "r", retweets_path(tweet_id: tweet.id), method: :post %></li>
    <li><%= link_to "rc", new_retweet_path(tweet_id: tweet.id) %></li>
    <li><%= link_to "l", likes_path(tweet_id: tweet.id), method: :post %></li>
    <li>u</li>
</ul>

