<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <div id="search">
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>

    <div id="who-to-follow"
        <% User.limit(3).each do |u| %>
          <p><%= u.username %> <span><%= button_to "Follow", controller: "follows", action: "create", method: "post" %></span><p>
          <p><%= u.handle %></p>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>
