<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% if current_user %>
      <div id="container">
        <div id="main-container">
          <%= react_component("Nav", {handle: current_user.handle}, {id: "nav-container"}) %>
          <div id="tweets">
            <%= react_component("TopHeader", {header: "Home"}) %>
            <% flash.each do |type, msg| %>
              <div>
                <%= msg %>
              </div>
            <% end %>
            <%= react_component("tweets/NewTweet", {rows: 1}) %>
            <div id="divider"></div>
            <%= yield %>
          </div>
          <div id="search-container">
            <form action="/search" accept-charset="UTF-8" method="get">
              <div class="search-input-container font-secondary">
                <svg class="search-svg" viewBox="0 0 24 24">
                  <g>
                    <path 
                      d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                      fill="currentcolor">
                    </path>
                  </g>
                </svg>
                <input type="text" name="query" id="query" placeholder="Search Twitter" class="search-input">
              </div>
            </form>
            <!-- <%= link_to "Log Out", logout_path, method: :delete %> -->
            <%= render :partial => "layouts/who-to-follow" %>
          </div>
        </div>
        <div id="modal-container"></div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
